fastapi
uvicorn
pymongo
python-dotenv
passlib[argon2]
pyjwt
email-validator
langchain
pymupdf
langchain-google-genai
pypdf
langchain-text-splitters
langchain-community
python-multipart
langchain-groq
motor
cloudinary
torch
transformers
peft
numpy
pydantic
pandas
langchain_openai
langchain_huggingface
sentence-transformers
faiss-cpu
python-multipart
pytesseract
pdf2image
pillow
reportlab
requests
beautifulsoup4
apscheduler
